.button {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button.filled {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--primary-color);
}

.button.filled:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button.unfilled {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button.unfilled:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:active {
  box-shadow: none;
}
