@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #00bcd4; /* Vibrant Teal */
  --secondary-color: #00e5ff; /* Lighter Cyan */
  --background-color: #f5f6fa;
  --text-color: #576574;
  --white-color: #ffffff;
  --border-color: #dfe4ea;

  --ps: 1rem; /* Padding Small */
  --pm: 2rem; /* Padding Medium */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Custom styles for Leaflet MarkerCluster */
.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
  background-color: var(--primary-color) !important; /* Use primary color directly */
  color: var(--white-color) !important; /* Set text color to white */
}

.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div {
  background-color: var(--primary-color) !important; /* Ensure inner circle also uses primary color */
  color: var(--white-color) !important; /* Set text color to white */
}
